/dist/
/dist-newstyle/
/cabal-dev/
/.virtualenv/
/.hpc/
/.hsenv/
/.cabal-sandbox/
cabal.project.local
cabal.sandbox.config
cabal.config
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.prof
*.aux
*.hp
*.tix
default.nix
shell.nix
scratchpad.hs
*~
[#]*[#]
.\#*
data/
